{% block sw_cms_my_block_image_text_gallery_preview %}
<div class="sw-cms-my-preview-image-text-gallery.html">
    <div class="sw-cms-my-preview-image-text-gallery.html__left">
        <div class="sw-cms-my-preview-image-text-gallery.html__image">
            <img
                :src="'/administration/static/img/cms/preview_camera_small.jpg' | asset"
                alt=""
            >
        </div>
        <div class="sw-cms-my-preview-image-text-gallery.html__text">
            <h2>Lorem</h2>
            <p>Lorem ipsum dolor sit amet.</p>
        </div>
    </div>

    <div class="sw-cms-my-preview-image-text-gallery.html__center">
        <div class="sw-cms-my-preview-image-text-gallery.html__image">
            <img
                :src="'/administration/static/img/cms/preview_plant_small.jpg' | asset"
                alt=""
            >
        </div>
        <div class="sw-cms-my-preview-image-text-gallery.html__text">
            <h2>Ipsum</h2>
            <p>Lorem ipsum dolor sit amet.</p>
        </div>
    </div>

    <div class="sw-cms-my-preview-image-text-gallery.html__right">
        <div class="sw-cms-my-preview-image-text-gallery.html__image">
            <img
                :src="'/administration/static/img/cms/preview_glasses_small.jpg' | asset"
                alt=""
            >
        </div>
        <div class="sw-cms-my-preview-image-text-gallery.html__text">
            <h2>Dolor</h2>
            <p>Lorem ipsum dolor sit amet.</p>
        </div>
    </div>
</div>
{% endblock %}
