.sas-cms-preview-block-3-columns {
    width: 100%;
    padding: 15px;
}

.sas-cms-block {
    display: flex;
    width: 100%;

    .sas-cms-block-column {
        box-sizing: border-box;
        background-color: rgba(11, 43, 94, 0.05);
        border: 2px dashed rgba(86, 145, 240, 0.4);
        height: 28px;

        &+.sas-cms-block-column{
            margin-left: 5px;
        }
    }
}
