{% block sw_cms_preview_block_3_columns %}
    <div class="sas-cms-preview-block-3-columns">
        <div class="sas-cms-block">
            <div class="sas-cms-block-column" style="width: 33,333%;"></div>
            <div class="sas-cms-block-column" style="width: 33,333%;"></div>
            <div class="sas-cms-block-column" style="width: 33,333%;"></div>
        </div>
    </div>
{% endblock %}
