{% block sw_cms_block_3_columns %}
    <div class="sw-cms-block-3-columns">
        <slot name="col-1"></slot>
        <slot name="col-2"></slot>
        <slot name="col-3"></slot>
    </div>
{% endblock %}
